body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.5;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.ant-layout-header, .ant-layout-footer {
    height: auto !important;
    padding: 20px 0 !important;
    background: #120338;
    line-height: inherit !important;
}

.ant-layout-header {
    margin-bottom: 20px;
}

.ant-layout-sider {
    width: auto !important;
    min-width: auto !important;
}

.ant-card-body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.ant-layout-sider-children .ant-menu-item-selected {
    background: none !important;
}

.ant-upload-select, .ant-upload-wrapper {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

.banner-carousel img {
    object-fit: cover;
}

.chat-list .ant-list-item-meta-title {
    margin: 0 !important;
}

.chat-list .ant-list-item-meta-avatar {
    margin-inline-end: 10px !important;
}

.chat-list .ant-list-item-meta-description {
    color: black !important;
}
